﻿@{
    ViewBag.Title = "Ảnh từ flickr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="clearfix" style="z-index: 1; background-color:black">
    <div class="subnav-refresh subnav-view subnav-state-ready" id="subnav-refresh" style="left: -188px; width: 1351px;">
        <!--Menu-->
        <div class="subnav-middle" id="yui_3_11_0_3_1393404454770_735" style="height: 37.4px">

            <div class="subnav-holder" id="yui_3_11_0_3_1393404454770_734">
                <ul class="nav-links clearfix" id="yui_3_11_0_3_1393404454770_733" style="margin-left:0px !important">
                    <li class="sn-navitem sn-photostream ">
                        <a data-track="YouSubnav-photostream" href="/home/flickr" data-rapid_p="3" id="alist">Danh sách ảnh</a>

                    </li>
                    <li class="sn-navitem sn-navitem-sets sn-active">
                        <a data-track="YouSubnav-sets" href="/home/flickrslide" data-rapid_p="4" id="aslide">Trình diễn ảnh</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="slideshow">
        <script src="~/Content/js/swfobject.js"></script>
        <style>
            .example {
                background: #000;
                width: 900px;
                font-size: 80%;
                margin: 20px auto;
                padding: 15px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }
        </style>
        <div class="example">

            <div>
                <div id="fc">TiltViewer requires JavaScript and the latest Flash player. <a href="http://www.macromedia.com/go/getflashplayer/">Get Flash here.</a></div>
                <script type="text/javascript">
                    var fo = new SWFObject('/TiltViewer.swf', 'viewer', '100%', '600px', '9.0.28', '#000000');
                    fo.addVariable('useFlickr', 'true'); // we don`t need flickr right now
                    fo.addVariable('xmlURL', ''); // generator of fallery xml file
                    fo.addVariable('maxJPGSize', '600'); // max file dimension size used for gallery
                    fo.addVariable('useReloadButton', 'true'); // we don`t need it for our demo
                    fo.addVariable('columns', '4'); // we will use 3 columns
                    fo.addVariable('rows', '4'); // and 3 rows (other images will at second page)
                    fo.addParam('allowFullScreen', 'true');
                    fo.write("fc");
                </script>

            </div>

        </div>

    </div>



</div>
