﻿@{
    ViewBag.Title = "uploadsuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input type="button" class="sBut_timVịTriKhachSan" style="display:none" onclick="history.go(-1)">

<script type="text/javascript" language="javascript">
    $(this.document).ready(function () {
        var form = $(".sBut_timVịTriKhachSan");
        form.click();
    });
</script>
